<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/authors.css">
</head>
<body>

    <h1>Authors:</h1>
    <hr>
    
    <% if (authors.length > 0) { %>
        <ol>
            <% for (let author of authors) {%>
                <li class="author"><%= author %>
                    <ul class="author-details">
                        <li>id: <%= author.id %></li>
                        <li>first name: <%= author.firstName %></li>
                        <li>last name: <%= author.lastName %></li>
                        <li>DOB: <%= author.dob %></li>
                        <li>gender: <%= author.gender %></li>
                    </ul>
                </li>
            <% } %>
        </ol>
    <% } else { %>
        <h1>No authors available</h1>
    <% } %>

    <a href="/authors/add">Add author</a>
</body>
</html>