<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= author %></h1>
    <ol>
        <li>id: <%= author.id %></li>
        <li>first name: <%= author.firstName %></li>
        <li>last name: <%= author.lastName %></li>
        <li>DOB: <%= author.DOB.toLocaleDateString() %></li>
        <li>gender: <%= author.gender %></li>
    </ol>
</body>
</html>