<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/books.css">
</head>
<body>

    <nav>
        <h1>My books:</h1>
        <h5><a href="/authors">see authors</a></h2>
    </nav>
    <hr>
    
    <% if (books.length > 0) { %>
        <ol>
            <% for (let book of books) {%>
                <li class="book-title"><%= book.title %>
                    <ul class="book-details">
                        <li>Author <a href="/authors/author/<%=book.author.id%>"><%= book.author %></a></li>
                        <li>Language <%= book.language %></li>
                        <li>Publisher <%= book.publisher %></li>
                        <li>ISBN <%= book.ISBN %></li>
                    </ul>
                </li>
            <% } %>
                
        </ol>
    <% } else { %>
        <h1>No books available</h1>
    <% } %>

    <a href="books/add">Add a book</a>
</body>
</html>